<!--File: content.ejs.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-21-->

<!--Basic file that adds the current page name to the title area and title on the page itself at the top. This page is simple for now,
but once the site grows there wil be more in commmon with the individual page contents and that stuff will go here. For now however, there isn't
enough in common.-->
<div class="title">
    <title><%= title %></title>
    <h1><%= title %></h1>
</div>