<!--File: about.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-01-->

<!--Simple container for about page content-->
<div class="container">
    <h2>Alexander Maynard</h2>
    <!--Image of myself-->
    <img src="/content/images/Image of me (Alexander Maynard).png" alt="Picture of me (Alexander Maynard)">
    <h3>About Me</h3>
    <p>I am 21 years old, and I live an hour South of Winnipeg, Manitoba. Currently I am in my second year of the Game Programming Program at Centennial College. My interests include everything video games, hockey, soccer and comic books. One past-time that I recently started to enjoy is manga (specifically manga like Naruto, Sakamoto Days and Kaiju No. 8). In addition to this, my number one bucket list wish is to visit Japan.</p>
    <!--Resume PDF-->
    <a href="/content/COMP229 - Portfolio Site Resume.pdf">Link to my resume</a><br><br><br><br>
</div>