<!--File: home.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-01-->

<!--Simple container for the home page content-->
<div class="container">
    
    <h2>Hello There!</h2>
        <!--image of game character I am developing-->
        <img src="/content/images/FishBowlCharacter.png" alt="Video Game Character (fish in exo suit) named Fish Bowl">
        <br>
        <br>
    <h3> Please check out the rest of my portfolio site!</h3>
    <!--Unordered list that uses .ejs variables in class as links to various pages similar to whats in the header.ejs page nav bar-->
    <ul>
        <!--Brings to about page and sets the active style for active page (icon/page text is slightly darker)-->
        <li><a class="<%= (page == 'about') ? 'active' : ''; %>" href="about">About Page</a></li>
        <!--Brings to projects page and sets the active style for active page (icon/page text is slightly darker)-->
        <li><a class="<%= (page == 'projects') ? 'active' : ''; %>" href="/projects">Projects Page</a></li>
        <!--Brings to services page and sets the active style for active page (icon/page text is slightly darker)-->
        <li><a class="<%= (page == 'services') ? 'active' : ''; %>" href="/services">Services Page</a></li>
        <!--Brings to contact page and sets the active style for active page (icon/page text is slightly darker)-->
        <li><a class="<%= (page == 'contact') ? 'active' : ''; %>" href="/contact">Contact Page</a></li>
    </ul>
    <br>
    <br>
    <h3>Missions Statement</h3>
    <!--Missions statement-->
    <p>"I'm outgoing and passionately obssessed with video games. My mission is to become part of a game developemnt team to not only to program games, but to bring them to life."</p><br><br><br><br>
</div>
