<!--File: login.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-19-->

<!--Simple container for the login page content-->
<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 col-sm-12">
            <div class="login" id="contentArea">
                <!-- Message Area -->
                <% if(messages.length > 0) { %>
                  <div id="messageArea" class="alert alert-danger">
                  <%= messages %>
                </div>
                <% } %>
  
                <form method="POST" id="loginForm" novalidate>
                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">

                      </span>
                      <input type="text" class="form-control" id="username" name="username"  required
                      value="" placeholder="Enter your username">
                    </div>
                  </div>
  
                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">
                      </span>
                      <input type="password" class="form-control" id="password" name="password"  required
                      value="" placeholder="Enter your password">
                    </div> 
                  </div>  

                  <div>
                    <button id="loginButton" type="submit" class="btn btn-primary btn-lg">
                      <i class="fas fa-sign-in-alt"></i> Login</button>
                      <button id="cancelButton" type="reset" class="btn btn-warning btn-lg">
                        <i class="fas fa-undo"></i> Cancel</button>
                  </div>
                </form>
            </div>
      </div>
    </div>
  </div>