<!--File: projects.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-21-->


<!--Simple container for the projects page content-->
<div class="container">

    <!--Content for the first project-->
    <h2>Time's A Tickin'</h2>
    <!--Time's A Tickin' Image (game I helped develop)-->
    <img src="/content/images/Time's a Tickin'.png" alt="Time's a Tickin' Video game" width="50%">
    <h3>Game Description</h3> 
    <p>Time's a Tickin' is a 2D Platforming video game developped in Unity2D by myself, Mike Deshane, 
        Yusuke Kuroki and Merak Tandon while enrolled at Centennial College for Game Programming. In this game, you
        take the role of a character named 10-2 a cyborg prototype. As 10-2, you are tasked with stopping an evil villian, with nothing but the power to control time
        and a weapon called the 'Time Persuader'.</p><br><br> 

        <h3>My role</h3>
        <p>In this project, I created the menus, helped implement core game mechanics and programmed things like:</p> 
        <ul>
            <li>Hazards</li>
            <li>Interactible objects (like trampolines)</li>
            <li>Character respawn</li>
            <li>Pause and quit game functions</li>
            <li>Bug Fixes</li>
            <li>Helped with camera functions and camera movement</li>
        </ul>
        <p>I also helped with the overall visual asthetic of the game in terms of asset placement(**No assets were made by our group, 
        we had to purchase/obtain them off the Unity asset store), UI design, splashscreens and etc.</p>
    <br>
    <br>


    <!--Content for the first project-->
    <h2>MortiCannon</h2>
    <!--MortiCannon Image (game I helped develop)-->
    <img src="/content/images/MortiCannon.png" alt="MortiCannon video game" width="50%">
    <h3>Game Description</h3>
    <p>MortiCannon is a single level 3D First Person Shooter/Platformer video game developped in Unreal Engine 3D by myself, marcus Ngooi, 
        Sukhmannat Singh and Ikamjot Hundal while enrolled at Centennial College for Game Programming. In this game, you
        take the role of a research subject trying to escape an unknown science facility where they ecperiment on live human subjects. 
        Your goal is to escape the zombie like research subjects (human experiments gone wrong), facility guards, and the defenses for the science facility.</p><br><br> 

        <h3>My role</h3>
        <p>In this project, I created the initial level design, helped implement core game mechanics and programmed things like:</p> 
        <ul>
            <li>Targets (for shots)</li>
            <li>Interactible object Prompts (like press "E" to pick up)</li>
            <li>Moving Platforms and Carts</li>
            <li>Game Over, Win Screen and automatic Restart Game</li>
            <li>Secret Platforms (Hit target to reveal it)</li>
            <li>Added graphical side of the UI (Designed by me)</li>
            <li>Player Fall death</li>
            <li>Enemy guards movement(not shooting) and Enemy health (color of enemy changes based on health)</li>
            <li>Bug Fixes</li>
        </ul>
        <p>NOTE: **Most assets were NOT made by our group, we had to obtain them off the opengameart.org and Epic Games Unreal Marketplace Store asset store for free (Free to use under Creative Commons).</p>
    <br>
    <br>
    
    
    <!--Content for the first project-->
    <h2>Fish Bowl</h2>
    <!--Fish Bowl Image (game I'm developing)-->
    <img src="/content/images/FishBowl.png" alt="FishBowl video game" width="50%">
    <h3>Game Description</h3> 
    <p>Fish Bowl is an upcoming 2D Platforming game being developed by only myself in Unity 2D. 
        In this game, you will play as a fish character named 'Fish Bowl' who travels to the surface world 
        by using a fish tank exo suit. The objective of this game will be to traverse each level before your 
        suit runs out of battery.</p><br><br> 

        <h3>My role</h3>
        <p>Since this project is in early development there is little that I have competed, but so far I'm in the character and world design phase. 
        In addition to this, I plan on doing ALL the art by myself (first time for me) as well as all the programming.</p>
    <br>
    <br>

</div>