<!--File: services.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-01-->

<!--Simple container for the services page content-->
<div class="container">

    <!--Table for services that I offer content.
    This table uses styles from bootstrap:
    table definition(sets it as table styling), striped styling(alternating shades), dark coloration,
    table border and sets it as fluid(fills container when page grows or shrinks). Basic text centering as well-->
    
    <!--Basic table structure with Services I offer content-->
    <table class="table table-striped table-dark table-bordered container-fluid" style="text-align: center;">
        <tr>
            <th><h2>Services Offered</h2></th>
            <th><h2>Images</h2></th>
        </tr>
        <tr>
            <td>Video Game Programming (Unreal Engine & Unity)</td>
            <!--Image of Unity Editor-->
            <td><img src="/content/images/Game Programming.png" alt="Unity Editor" width="80%"></td>
        </tr>
        <tr>
            <td>General Programming (C#, C++, Java, HTML, CSS, JavaScript, Oracle SQL & SQL)</td>
            <!--Image of Visual Studio Editor-->
            <td><img src="/content/images/Programming.png" alt="Visual Studio Editor" width="80%"></td>
        </tr>
        <tr>
            <td>Video Game Asset Creation</td>
            <!--Image of Werewolf sprite sheet I created-->
            <td><img src="/content/images/Werewolf_SpriteSheet.png" alt="Werewolf Sprite Sheet" width="80%"></td>
        </tr>
        <tr>
            <td>Front End Web Development</td>
            <!--Image of school web page I created-->
            <td><img src="/content/images/Front End Web Development.png" alt="School Project Website (Image Gallery)" width="80%"></td>
        </tr>
    </table>

</div>