<!--File: update.ejs
Student Name: Alexander Maynard
Student ID: 301170707
Date: 2022-10-19-->

<!--Simple container for the update page content-->
<div class="container">
    
    <h2>Hello There!</h2>
</div>